  body {
            margin: 0;
            height: 100vh;
            background: #eaeaea;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        .phone {
            width: 320px;
            height: 560px;
            background: white;
            border-radius: 28px;
            padding: 24px;
            box-shadow: 0 15px 30px rgb(156, 154, 154);
        }

        .title {
            text-align: center;
            margin-bottom: 20px;
        }

        .role-select {
            display: flex;
            gap: 12px;
            margin-bottom: 20px;
        }

        .role-select button {
            flex: 1;
            padding: 12px;
            border-radius: 14px;
            border: none;
            cursor: pointer;
            background: #f2f2f2;
            font-weight: bold;
        }

        .role-select button.active {
            background:rgb(156, 154, 154);
            color: white;
        }

        .login-form h3 {
            text-align: center;
            margin-bottom: 16px;
        }

        .login-form input {
            width: 100%;
            padding: 12px;
            border-radius: 12px;
            border: none;
            background: #f2f2f2;
            margin-bottom: 14px;
        }

        .login-btn {
            width: 100%;
            padding: 14px;
            border-radius: 14px;
            border: none;
            background: rgb(156, 154, 154);
            color: white;
            font-weight: bold;
            cursor: pointer;
        }